@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de vuelos";
}

<div class="text-center">
    <h1 class="display-4">Vuelos</h1>
    <p>Seleccione el Vuelo a consultar.</p>
</div>
<script src="~/js/ClientHttp.js"></script>
<script src="~/js/Vuelos.js"></script>